.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: #031557d4;
  padding: 40px 60px;
  z-index: 1000; 
  margin-bottom: 40px;
  box-shadow: 0 12px 6px rgba(64, 9, 244, 0.5);
  margin: 0;

}

nav {
  display: flex;
  justify-content: flex-start; 
 
  gap: 20px; 
}

.link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: rgb(129, 97, 235); 
}
