.contactWrapper {

    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    padding: 10px 8px;
    justify-content: space-between;
    width: 300px;
    
 
}
.icon {
   margin-right: 10px;
   color: rgb(71, 7, 18);
   
}

.contactTextWrapper {
display: flex;
justify-content:left;
align-items: center;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;

}

.listBtn {
align-self: flex-start;
margin-top: 20px;
color: rgb(172, 103, 103);
background-color: rgb(219, 214, 214);

}